<div class="question-options">
   @for (option of this.question!.options; let i = $index; track i) {
          <div class="question-option" >
            <div class="button-toggle-group">
              <mat-button-toggle-group
                                       name="optionValue"
                                       aria-label="Option Value"
                                       hideSingleSelectionIndicator="true"
                                       [(ngModel)]="this.question!.options[i].value"
                                       [value]="this.question!.options[i].value"
                                       (ngModelChange)="onValueChange()">
                <mat-button-toggle [value]="true">
                  <mat-icon>check</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="null">
                  <mat-icon>question_mark</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle [value]="false">
                  <mat-icon>close</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <textarea class="option-text" matInput type="text" [(ngModel)]="this.question!.options[i].text" (ngModelChange)="onValueChange()"></textarea>
            <button mat-icon-button class="remove-button"  color="transparent" (click)="removeOption(i)" >
              <mat-icon >remove</mat-icon>
            </button>
          </div>
   }
</div>
