<div class="register-div">
  <form class="register-form" [formGroup]="registerform" (ngSubmit)="testDatabase()">
    <div class="input-group">
      <input formControlName="firstName" name="firstName" type="text" placeholder="First name" required/>
    </div>
    <div class="input-group">
      <input formControlName="lastName" name="lastName" type="text" placeholder="Last name" required/>
    </div>
    <div class="input-group">
      <input formControlName="dateOfBirth" type="date" required/>
    </div>
    <div class="input-group">
      <input formControlName="email" name="email" type="email" placeholder="Email" required>
    </div>
    <div class="input-group">
      <input formControlName="password" name="password" type="password" placeholder="Password" required/>
    </div>
    <div class="input-group">
      <input formControlName="passwordConfirm" name="passwordConfirm" type="password" placeholder="Confrim password" required/>
    </div>
    <button type="submit">Register</button>
  </form>
</div>


