<div class="register-div">
  <div class="register-text">Registration</div>
  <form class="register-form" [formGroup]="registerform" (ngSubmit)="testDatabase()">
    <label>First name</label>
    <input formControlName="firstName" type="text"/>
    <label>Last name</label>
    <input formControlName="lastName" type="text"/>
    <label>Birth date</label>
    <input formControlName="dateOfBirth" type="date"/>
    <label>Email</label>
    <input formControlName="email" type="email">
    <label>Password</label>
    <input formControlName="password" type="password"/>
    <label>Password confirm</label>
    <input formControlName="passwordConfirm" type="password"/>
    <button type="submit">Register</button>
  </form>
  <a routerLink="/login">Already registered? To log in Click here!</a>
</div>


