.questions-slot-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.name-date-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-container{
  display: flex;
  flex-direction: row;
  font-style: italic;
  color: gray;
  gap: 5px;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.type-button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slot-container{
  display: flex;
  flex-direction: row;
  font-style: italic;
  color: gray;
  gap: 5px;
}

.delete-button{
  color: red !important;

  &:hover{
    background-color: rgba(255, 0, 0, 0.1);
  }
}

.exam-data-table{
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  font-family: Arial, sans-serif;
  margin-top: 30px;
}

.no-progress{
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
}
