  .home-container {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #ebebeb;
  }
  .navigation-bar {
    margin: 10px;
    z-index: 999;
    padding-bottom: 20px;
  }

  .home-content {
    width: 100%;
    min-height: calc(100vh - 20px);
    max-height: calc(100vh - 20px);
    margin: 10px 10px 10px 420px;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    position: relative;
  }
