@if(alreadyConnected){
  <div class="already-connected-container">
    <div class="connected-text">
      You are already connected!
    </div>
    <div class="connected-text">
      Please go back to your original call!
    </div>
  </div>
}@else{
  <div class="videochat-container">
    <div class="video-container">
      <div class="main-video-stream">
        <video class="remote-video" #remoteVideo autoplay playsinline [controls]="false" [muted]="true"></video>
        @if(remoteUserName){
          <div class="video-name">{{ remoteUserName }}</div>
        }
      </div>
      <div class="other-videos">
        @for(element of remoteMedias; track element[1]){
          @if(element[0] !== remoteSocket){
            <app-show-video [videoStream]="element[1]" [userName]="webrtcService.userNames.get(element[0]) ?? '' " (click)="makeMainStream(element)"></app-show-video>
          }
        }
      </div>
    </div>
    <div class="chat-own-video-container">
      <div class="chat-container">
        <div class="chat-messages-container">
          @for(m of webrtcService.messages; track m){
            <div class="message-box">
              <div class="message-holder"><span class="username"  [ngStyle]="{'color': generateRandomColor(m.user)}">{{m.user}}</span>: {{m.message}}</div>
            </div>
          }
        </div>
        <div class="chat-message-send">
          <input class="message-input" type="text" [(ngModel)]="message" (keydown.enter)="sendMessage()">
          <button mat-flat-button class="send-message-button" (click)="sendMessage()">Send</button>
        </div>
      </div>
      <div class="local-video-stream">
        <video class="local-video" #localVideo autoplay playsinline [controls]="false" [muted]="true"></video>
        <div class="video-name">You</div>
      </div>
    </div>
  </div>
}
