<mat-card class="question-container">
    <mat-card-header matPrefix class="question-header">
      <div class="question-title-container">
        <div class="question-number">{{questionNumber}}.</div>
        <textarea class="option-text" matInput type="text" [(ngModel)]="questionTitle" (ngModelChange)="onTitleChange($event)"></textarea>
        <div class="question-point">
          <div class="question-point-text">Points: </div>
          <input class="option-text" type="number" [min]="minPoints" [max]="maxPoints" [(ngModel)]="points" (blur)="onPointChange($event)">
        </div>
      </div>
      @if(selectedFile){
        <div class="question-image-container">
          <img class="question-image" [src]="imagePreview" alt="Question image">
        </div>
      }
    </mat-card-header>
    <mat-card-content class="question-content">
      <mat-radio-group class="question-options" [(ngModel)]="goodAnswerIndex">
        @for (option of options; let i = $index; track i) {
          <div class="question-option" >
            <mat-radio-button [value]="i"></mat-radio-button>
            <textarea class="option-text" matInput type="text" [(ngModel)]="options[i]"  (ngModelChange)="onOptionChange(i, $event)"></textarea>
            <button mat-icon-button class="remove-button"  color="transparent" (click)="removeOption(i)" >
              <mat-icon >remove</mat-icon>
            </button>
          </div>
        }
      </mat-radio-group>
      <div>
        Selected radio button: {{this.options[goodAnswerIndex]}}
      </div>
    </mat-card-content>
  <mat-card-actions class="question-button-holder">
    <button mat-button class="question-button" (click)="addQuestion()">
      <div class="button-text">
        Add question
      </div>
      <mat-icon>add</mat-icon>
    </button>
      <div class="picture-button-container">
        <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden>
        <button mat-button class="picture-button" (click)="fileInput.click()">
          <div class="button-text">
            @if(!imagePreview){Add picture} @else{Change picture}
          </div>
          <mat-icon>add</mat-icon>
        </button>
        @if(imagePreview){
          <button mat-button class="delete-picture-button" (click)="fileInput.click()">
            <div class="button-text">
              Delete picture
            </div>
            <mat-icon class="remove-button">remove</mat-icon>
          </button>
        }
      </div>
    <button mat-button class="picture-button" (click)="checkOptions()">
      <div class="button-text">
        Check
      </div>
      <mat-icon>add</mat-icon></button>
  </mat-card-actions>
</mat-card>
