<mat-radio-group class="question-options" [(ngModel)]="goodAnswerIndex" (ngModelChange)="onGoodAnswerChange()">
  @for (option of options; let i = $index; track i) {
    <div class="question-option" >
      <mat-radio-button [value]="i"></mat-radio-button>
      <textarea class="option-text" matInput type="text" [(ngModel)]="options[i]"></textarea>
      <button mat-icon-button class="remove-button"  color="transparent" (click)="removeOption(i)" >
        <mat-icon >remove</mat-icon>
      </button>
    </div>
  }
</mat-radio-group>
