/* You can add global styles to this file, and also import other style files */
/* Global Styles */
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
    color: mat.$green-palette,
    typography: Poppins,
    density: -1,
    gap: 0px
    )
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  @include mat.snack-bar-overrides((
    container-color: white,
    supporting-text-color: black,
  ));

  @include mat.stepper-overrides((
    container-color: white,
    //supporting-text-color: black,
  ));

  @include mat.card-overrides((
    elevated-container-color: white,
    //supporting-text-color: black,
  ));

  @include mat.select-overrides((
    panel-background-color: white,
    //supporting-text-color: black,
  ));

  @include mat.expansion-overrides((
    container-background-color: white,
    //supporting-text-color: black,
  ));

  @include mat.form-field-overrides((
    filled-container-color: white,
    //supporting-text-color: black,
  ));

  @include mat.menu-overrides((
    container-color: white,
    item-spacing:0
  ));

  @include mat.table-overrides((
    background-color: white,
  ));
}
