.new-exam-stepper {
    min-height: 100%;
    background-color: white;
    margin: 10px;
}

.sticky-header{
  position: sticky;
  top: 0;
  z-index: 9;
}

.mat-horizontal-stepper-header-container {
  position: sticky;
  top: 0; /* Sticks it to the top of the viewport */
  z-index: 1000; /* Ensure it's on top of other content */
  background-color: white; /* Prevents content from overlapping */
}

.exam-basic-informations-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exam-basic-informations-form-field {
    width: 80%;
    align-self: center;
}

.exam-basic-informations-form-submit-button {
    width: 50%;
    align-self: center;
}

.exam-basic-informations-container{
    margin-top: 10%;
    height: 100%;
    width: 100%;
}

mat-stepper {
    background-color: white;
}

.add-question-form-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;

  }

.add-question {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: fit-content;
}

.add-question-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.question-add-panel{
  width: fit-content;
}

.question-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 50px;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  max-height: 400px;
}

.question-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}

.exam-basic-informations-form-submit-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.sticky-wrapper {
  position: relative;
}

.sticky-panel {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
